#table #thead .cell-name,
#table #thead .cell-type,
#table #thead .cell-status {
  border-right: 1px solid #FFFFFF !important;
}

#table #thead div {
  font-size: 1.25rem !important;
}

#table #tbody {
  max-height: 70vh;
  background-color: #F5F5F5;
  overflow-x: hidden;
  overflow-y: scroll;
  -ms-overflow-style: none;
}

#table #tbody::-webkit-scrollbar {
  display: none;
}

#table #tbody .list-group-item .cell {
  background-color: #DDDDDD;
  height: 3rem;
  font-size: 1.1rem !important;
}

#table #tbody .list-group-item .cell-name {
  background-color: #F5F5F5;
}

#table #tbody .list-group-item .cell-name button:hover {
  background-color: #DDDDDD;
}

#table #tbody .list-group-item .cell-name button span {
  font-size: 1.25rem !important;
}

#table .cell-name {
  width: 40% !important;
}

#table .cell-type {
  width: 15% !important;
}

#table .cell-status {
  width: 20% !important;
}

#table .cell-actions {
  width: 25% !important;
}

#table .cell-actions button {
  width: 5rem;
}

.bg-began {
  background-color: #65AA09 !important;
  color: #FFFFFF !important;
}

.bg-finished {
  background-color: #4F7E10 !important;
  color: #FFFFFF !important;
}

.btn-begin {
  border-color: #65AA09 !important;
  background-color: #65AA09 !important;
  color: #FFFFFF !important;
}

.btn-begin:hover {
  border-color: #579208 !important;
  background-color: #579208 !important;
  color: #FFFFFF !important;
}

.btn-finish {
  border-color: #4F7E10 !important;
  background-color: #4F7E10 !important;
  color: #FFFFFF !important;
}

.btn-finish:hover {
  border-color: #41670d !important;
  background-color: #41670d !important;
  color: #FFFFFF !important;
}

