$task-table-color: #F5F5F5;
$task-cell-color: #DDDDDD;
$began-color: #65AA09;
$finished-color: #4F7E10;

#table {

    #thead {
        .cell-name, .cell-type, .cell-status {
            border-right: 1px solid #FFFFFF !important;
        }

        div {
            font-size: 1.25rem !important;
        }
    }
    #tbody {
        max-height: 70vh;
        background-color: $task-table-color;
        overflow-x: hidden;
        overflow-y: scroll;
        -ms-overflow-style: none;

        &::-webkit-scrollbar {
            display: none;
        }

        .list-group-item {
            .cell {
                background-color: $task-cell-color;
                height: 3rem;
                font-size: 1.1rem !important;
            }

            .cell-name {
                background-color: $task-table-color;

                button {
                    &:hover {
                        background-color: $task-cell-color;
                    }

                    span {
                        font-size: 1.25rem !important;
                    }
                }
            }
        }
    }

    .cell-name {
        width: 40% !important;
    }
    .cell-type {
        width: 15% !important;
    }
    .cell-status {
        width: 20% !important;
    }
    .cell-actions {
        width: 25% !important;

        button {
            width: 5rem;
        }
    }
}

.bg-began {
    background-color: $began-color !important;
    color: #FFFFFF !important;
}

.bg-finished {
    background-color: $finished-color !important;
    color: #FFFFFF !important;
}

.btn-begin {
    border-color: $began-color !important;
    background-color: $began-color !important;
    color: #FFFFFF !important;

    &:hover {
        border-color: darken($began-color, 5%) !important;
        background-color: darken($began-color, 5%) !important;
        color: #FFFFFF !important;
    }
}

.btn-finish {
    border-color: $finished-color !important;
    background-color: $finished-color !important;
    color: #FFFFFF !important;

    &:hover {
        border-color: darken($finished-color, 5%) !important;
        background-color: darken($finished-color, 5%) !important;
        color: #FFFFFF !important;
    }
}
